<html>
<head>
<title> PYTHON LISTING </title>
</head>
<body>
<p><a href ="www.google.com"> Google </a></p>
<img src="{{STATIC_URL}}im2.jpg" width = "200px" height = "200px" />
<P><strong>Folder path: /</strong></p>
<a href = "/"><img src = "/static/back-icon.png" width = "30px" height = "30px" title="Back"/></a>
<table border = "1"> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//__init__.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> __init__.py</td> 
    <td width = "100px">0B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//find.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> find.py</td> 
    <td width = "100px">1.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//find2.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> find2.py</td> 
    <td width = "100px">1.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//listDir.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> listDir.py</td> 
    <td width = "100px">3.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//manage.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> manage.py</td> 
    <td width = "100px">542B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//probadb.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> probadb.py</td> 
    <td width = "100px">337B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//settings.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> settings.py</td> 
    <td width = "100px">2.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//uploadFile.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> uploadFile.py</td> 
    <td width = "100px">736B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//URLconf.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> URLconf.py</td> 
    <td width = "100px">118B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//urls.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> urls.py</td> 
    <td width = "100px">711B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href = "/textfiles//views.py"><img src = "/static/txt_f.png" title = "View" width = "30px" height = "30px"/></a> views.py</td> 
    <td width = "100px">2.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href ="modClass/"><img src ="/static/dir.jpeg" width = "30px" height = "30px" title="Open"/></a> modClass</td> 
    <td width = "100px">&nbsp;</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href ="staticmedia/"><img src ="/static/dir.jpeg" width = "30px" height = "30px" title="Open"/></a> staticmedia</td> 
    <td width = "100px">&nbsp;</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href ="templates/"><img src ="/static/dir.jpeg" width = "30px" height = "30px" title="Open"/></a> templates</td> 
    <td width = "100px">&nbsp;</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href ="upload/"><img src ="/static/dir.jpeg" width = "30px" height = "30px" title="Open"/></a> upload</td> 
    <td width = "100px">&nbsp;</td> 
  </tr> 
  <tr> 
    <td width = "200px"><a href ="URLconfig/"><img src ="/static/dir.jpeg" width = "30px" height = "30px" title="Open"/></a> URLconfig</td> 
    <td width = "100px">&nbsp;</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> .project</td> 
    <td width = "100px">415B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> .pydevproject</td> 
    <td width = "100px">595B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> __init__.pyc</td> 
    <td width = "100px">139B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> find.pyc</td> 
    <td width = "100px">1.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> find2.pyc</td> 
    <td width = "100px">1.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> listDir.pyc</td> 
    <td width = "100px">4.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> modelsClass.pyc</td> 
    <td width = "100px">507B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> probadb.pyc</td> 
    <td width = "100px">840B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> settings.pyc</td> 
    <td width = "100px">2.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> tableGenerator.pyc</td> 
    <td width = "100px">829B</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> uploadFile.pyc</td> 
    <td width = "100px">1.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> urls.pyc</td> 
    <td width = "100px">1.0KB</td> 
  </tr> 
  <tr> 
    <td width = "200px"><img src ="/static/file.jpeg" width = "30px" height = "30px"/> views.pyc</td> 
    <td width = "100px">4.0KB</td> 
  </tr> 

</table>
</body?>
</html>
